@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #46344e;
    --primaryo-color: #46344e5c;
    --pfont-color: #5a5560;
    --light-color: #f9f9f9;
    --light2-color: #f1f5f9;
    --dark-color: #181818;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Almarai ,"Poppins", sans-serif;
    background-color: var(--light2-color);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.dark {
    background: var(--dark-color);
    color: var(--light-color);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background: var(--light2-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo img {
    width: 100px;
    height: 50px;
    object-fit: cover;
}
.header input {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--light-color);
    background: transparent;
    color: var(--primary-color);
    font-weight: 500;
}
.dark .header {
    background: var(--dark-color);
    color: var(--light-color);
}
.dark .header input {
    border: 1px solid var(--dark-color);
    color: var(--light-color);
}
.dark .header input::placeholder {
    color: var(--light-color);
}
.dark .menu li a {
    color: var(--light-color);
}
.dark .menu li a:hover {
    color: var(--primary-color);
}
.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    background: transparent;
    color: var(--primary-color);
    transition: 0.3s ease;
}
.menu-container {
    position: relative;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 15em;
    height: 100vh;
    margin-top: 5.4em;
    padding: 2em;
    padding-top: 4em;
    background-color: var(--light2-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}
.dark .menu {
    background: var(--dark-color);
}
.menu li .link {
    color: var(--pfont-color);
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: 0.5s;
}
.menu li .link.active {
    color: var(--primary-color);
    font-weight: 600;
    border-bottom: 1px solid var(--primary-color);
}
.menu li .link:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-weight: 600;
}
.menu i {
    font-size: 1.2em;
}
.open {
    position: absolute;
    top: 1em;
    right: 1em;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.5em;
}
.icon {
    font-size: 1.3em;
    color: var(--primary-color);
    transition: 0.3s ease
}
.icon:hover {
    background-color: var(--primaryo-color);
    border-radius: 50%;
    padding: .7em;
}
.menu.close .link {
    display: none;
}
.menu.close {
    width: 4.5em;
    padding: 2em;
    padding-top: 4em;
    transition: 0.5s ease;
}
/* 
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    margin-left: 15em;
    margin-top: 4em;
}
.card {
    background-color: var(--light-color);
    padding: .5;
    border-radius: 1em;
    width: 18em;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card-img {
    width: 100%;
    height: 20em;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.card-info h3 {
    color: var(--primary-color);
    font-weight: 600;
}
.card-info p {
    color: var(--pfont-color);
    font-weight: 500;
}
.dark .card {
    background: var(--dark-color);
}
.dark .card-info h3 {
    color: var(--light-color);
}
.dark .card-info p {
    color: var(--light-color);
} */
@media (max-width: 768px) {

    .menu {
        width: 13em;
    }
    .icon {
        font-size: 1em;
    }
    .cards {
        margin-left: 10em;
    }
    }

@media (max-width: 500px) {

    .header .search {
        display: none;
    }
    .menu {
        width: 10em;
        
    }
    .icon {
        font-size: 0.8em;
    }
    .cards {
        margin-left: 8em;
    }
}
